@model _28_7_2024.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STUDENTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
